{% extends "HcBundle::hcLayout.html.twig" %}

{% block header %}
    {% include 'HcBundle::includes/HistoriaClinica.html.twig' %}
{% endblock %}

{% block titulo %}Nuevo Historia Clinica{% endblock %}

{% block menu %}
    {% if is_granted('ROLE_MEDICO') %}
	    <li><a href="{{ path('medicamento_list') }}">Medicamento</a></li>
	    <li><a href="{{ path('examen_list') }}">Examen</a></li> 
	    <li><a href="{{ path('dx_list') }}" >Diagnostico</a></li>
	    <li><a href="{{ path('hc_search') }}"  class="sub_sel">Historia clinica</a></li>
	{% elseif is_granted('ROLE_AUX')%}
		<li><a href="{{ path('hc_search') }}"  class="sub_sel">Historia clinica</a></li>
	{% endif %}
{% endblock %}

{% block cuerpo %}

{% if app.session.flash('info') %}
    <div class="success">
        <span>{{ app.session.flash('info') }}</span>
    </div>
{% endif %}

<form action="{{ path('hc_save', {'id':factura.id})}}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Datos del usuario</legend>
    	{{ form_widget(form) }}
    </fieldset>
    
    <button class="action blue" type="submit">
        <span class="label">Crear</span>
    </button>
    
    <a href="{{ path('hc_search') }}" class="button left"><span class="label">Regresar al listado</span></a>
    
</form>
{% endblock %}
