{% extends "AdminBundle::adminLayout.html.twig" %}

{% block header %}
    {% include 'AdminBundle::includes/parametrizar.html.twig' %}
{% endblock %}

{% block titulo %}Nueva sede{% endblock %}

{% block menu %}
    <li><a href="{{ path('empresa_list') }}" class="sub_sel">Empresa</a></li>
    <li><a href="{{ path('cliente_list') }}">Cliente</a></li>
    <li><a href="{{ path('cargo_list') }}">Cargo</a></li>
    <li><a href="{{ path('paciente_list') }}">Paciente</a></li>
    <li><a href="#">Factura</a></li>
    <li><a href="{{ path('usuario_list') }}">Usuario</a></li>
{% endblock %}

{% block cuerpo %}

<form action="{{ path('sede_save', {'id':empresa}) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Datos de la sede</legend>
    	{{ form_widget(form) }}
    </fieldset>
    
    <button class="action blue" type="submit">
        <span class="label">Crear</span>
    </button>
    
</form>
{% endblock %}