{% extends "HcBundle::hcLayout.html.twig" %}

{% block header %}
    {% include 'HcBundle::includes/HistoriaClinica.html.twig' %}
{% endblock %}

{% block titulo %}Modificar Diagnostico{% endblock %}

{% block menu %}
    <li><a href="{{ path('medicamento_list') }}">Medicamento</a></li>
    <li><a href="{{ path('examen_list') }}" >Examen</a></li>    
    <li><a href="{{ path('dx_userDx') }}"  class="sub_sel">Diagnostico</a></li>
    <li><a href="{{ path('hc_search') }}">Historia clinica</a></li>     
{% endblock %}

{% block cuerpo %}

{% if app.session.flash('info') %}
    <div class="success">
        <span>{{ app.session.flash('info') }}</span>
    </div>
{% endif %}

<form action="{{ path('dx_update', {'id':cie})}}" method="post" {{ form_enctype(edit_form) }}>
    <fieldset>
    	<legend>Datos del diagonostico</legend>
    	{{ form_widget(edit_form) }}
    </fieldset>
    
    <button class="action blue" type="submit">
        <span class="label">Modificar</span>
    </button>
    
    <a href="{{ path('dx_list')}}" class="button left"><span class="label">Regresar al listado</span></a>
    
</form>
{% endblock %}
