{% extends "AdminBundle::adminLayout.html.twig" %}

{% block header %}
	{% include 'AdminBundle:includes:factura.html.twig' %}
{% endblock %}

{% block titulo %}Actividades realizadas a un cliente{% endblock %}

{% block menu %}
    <li><a href="{{ path('factura_search') }}">Facturar cita</a></li>
    <li><a href="{{ path('factura_arqueo') }}">Cierre de caja</a></li>
    <li><a href="{{ path('factura_cliente_list') }}" class="sub_sel">Facturar cliente</a></li>
    <li><a href="{{ path('factura_reporte_medico') }}">Listado Medico</a></li>
	<li><a href="{{ path('factura_admision_search') }}">Editar admisión</a></li>
	<li><a href="{{ path('factura_rips_search') }}">RIPS</a></li>
{% endblock %}

{% block cuerpo %}

{% if app.session.flash('info') %}
    <div class="success">
        <span>{{ app.session.flash('info') }}</span>
    </div>
{% endif %}

<form action="{{ path('factura_cliente_actividades') }}" onSubmit="return confirm('Seguro de querer generar el reporte?');" method="post">
    <fieldset>
    	<legend>Datos del reporte</legend>

    <div>
    	<label for="sede">Sede:</label>
    	<select id="sede" name="sede">
    	    <option value="">Todas las sedes</option>
    	    {% for sede in sedes %}
      			<option value="{{ sede.id }}">{{ sede.nombre }}</option>
       		{% endfor %}
      	</select>
    </div>
    
    <div>
    	<label for="cliente">Cliente:</label>
    	<select id="cliente" name="cliente">
    	    <option value="">Seleccione un cliente</option>
    	    {% for cliente in clientes %}
      			<option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
       		{% endfor %}
      	</select>
    </div>
    
    <div>
    	<label for="f_inicio">Desde:</label>
    	    <input type="date" name="f_inicio" id="f_inicio" />
    	    <span>(DD/MM/AAAA)</span>
    </div>
    
    <div>
    	<label for="f_fin">Hasta:</label>
    	    <input type="date" name="f_fin" id="f_fin" />
    	    <span>(DD/MM/AAAA)</span>
    </div>
    
    </fieldset>
    
    <button class="action blue" type="submit">
        <span class="label">Generar</span>
    </button>
    
</form>
	      		
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	
</script>
{% endblock %}